.tools-container .tool-card .tag-list {
    list-style: none;
    display: flex;
    margin-top: 5px;
    font-weight: bold;
}

.tools-container .tool-card .tag-list li { padding: 0 2px; }

.tools-container .tool-card .tag-list li:not(:first-child) {
    margin-left: 5px;
    margin-bottom: 5px;
}

/* Break Points */

/* Tablet Screen */

@media (max-width: 768px) and (min-width: 426px) {
    .tools-container .tool-card .tag-list {
        flex-wrap: wrap;
    }

    .tools-container .tool-card .tag-list li {
        margin-left: 5px;
    }
}

/* Smartphone Screen */

@media (max-width: 425px) {
    .tools-container .tool-card .tag-list {
        flex-wrap: wrap;
        font-size: 12px;
    }

    .tools-container .tool-card .tag-list li {
        margin-left: 5px;
    }
}