@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    background: #E1E7FD 0% 0% no-repeat padding-box;
}

body, body * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
}

.add-card-container, .remove-card-container {
    width: 100%;
    height: 830px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: get-dark 0.5s ease-in;
    animation-fill-mode: forwards;
}

.add-card-container .add-card, .remove-card-container .remove-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 25px #0000001A;
    border: 1px solid #EBEAED;
    border-radius: 5px;
    opacity: 1;
    position: fixed;
    animation-fill-mode: forwards;
}

@keyframes get-dark {
    from {
        background-color: transparent;
    } to {
        background-color: rgba(0,0,0, 0.7);
    }
}