.add-card-container .add-card {
    width: 475px;
    animation: slide-up-add 0.5s ease-in;
    animation-fill-mode: forwards;
    padding-bottom: 20px;
}

.add-card-container .add-card .icon-area {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.add-card-container .add-card .icon-area span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
}

@keyframes slide-up-add {
    from {
        top: 10%;
    } to {
        top: 6%;
    }
}

/* Break Points */

/* Tablet Screen */

@media (max-width: 768px) and (min-width: 426px) {
    .add-card-container .add-card {
        width: 65%;
    }
}

/* Smartphone Screen */

@media (max-width: 425px) {
    .add-card-container .add-card {
        width: 85%;
    }

    .add-card-container .add-card .icon-area span {
        font-size: 16px;
    }
}